{% load static %}
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html"><h2>Stand Blog<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home:home' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'articles_list' %}active{% endif %}" href="{% url 'blog:articles_list' %}">All Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <div class="d-flex">
                                {% if user.profile.image %}
                                    <img src="{{ user.profile.image.url }}" alt=""
                                         style="width: 35px; height: 35px; border-radius: 100%">
                                {% else %}
                                    <img src="{% static 'images/comment-author-01.jpg' %}" alt=""
                                         style="width: 35px; height: 35px; border-radius: 100%">
                                {% endif %}
                                <a class="nav-link" href="/">{{ user.username }}</a>
                                <a href="{% url 'account:logout' %}"><span class="badge badge-danger m-2">LogOut</span></a>
                            </div>
                        {% else %}
                            <div class="d-flex">
                                <a class="nav-link" href="{% url 'account:login' %}">LogIn</a><span
                                    class="mt-2">/</span>
                                <a class="nav-link" href="{% url 'account:register' %}">Register</a>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>